{% extends 'base.html.twig' %}

{% block body %}
   <h1>Category list</h1>
   <ul>
      {% for category in categories %}
         <li>{{ category.name }} - color: {{ category.color}} <a href="{{path('category-edit', {'id': category.id})}}">Edit</a></li>
         {% endfor %}
   </ul>
   <a href="{{ path('category-add') }}">Add new</a>
{% endblock %}
