{% extends 'base.html.twig' %}
{% block title %}Edit category{% endblock %}
{% block body %}
   <h1>Edit category</h1>
   <form method="post" {{form_enctype(form)}}>
      {{form_row(form.name)}}
      {{form_row(form.color)}}
      {{form_row(form._token)}}
      <input class="btn btn-primary" type="submit" value="Submit"/>
   </form>
{% endblock %}
