{% extends 'base.html.twig' %}
{% block title %}Users list{% endblock %}
{% block body %}
  <h1>Users list</h1>
  <ul>
  {% for user in users %}
      <li>{{ user.name }} <a href="{{path('user_edit', {'id': user.id})}}">Edit</a></li>
  {% endfor %}
  </ul>
  <br />
    <a href="{{ path('user_add')}}" class="btn btn-primary btn-lg" role="button">Add new user</a>
{% endblock %}
